<div class="container mt-5">
  <h1 class="mb-4">
    Annonces du vendeur :
    <span th:text="${annonces[0].vendeur.username}"></span>
  </h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Titre</th>
        <th>Description</th>
        <th>État</th>
        <th>Zone</th>
        <th>Type de don</th>
        <th>Mots-clés</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="annonce : ${annonces}">
        <td th:text="${annonce.id}"></td>
        <td>
          <a
            th:href="@{/annonces/{id}(id=${annonce.id})}"
            style="color: black"
            th:text="${annonce.titre}"
          ></a>
        </td>

        <td th:text="${annonce.description}"></td>
        <td th:text="${annonce.etatObjet}"></td>
        <td th:text="${annonce.zone}"></td>
        <td th:text="${annonce.typeDon ? 'Oui' : 'Non'}"></td>
        <td>
          <ul>
            <li
              th:each="keyword : ${annonce.keywords}"
              th:text="${keyword}"
            ></li>
          </ul>
        </td>

        <td>
          <div class="d-flex align-items-center">
            <!-- Link -->
            <a
              th:href="@{/modal/{annonceId}?oldPath={oldPath}(annonceId=${annonce.id}, oldPath=${oldPath})}"
              class="btn btn-info me-2"
              >Buy Now</a
            >

            <!-- Form -->
            <form th:action="@{/groupes}" method="post" class="mb-0">
              <input type="hidden" name="annonceId" th:value="${annonce.id}" />
              <button type="submit" class="btn btn-info">Add to Group</button>
            </form>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <a
    th:href="@{/messages/{receiverId}(receiverId=${annonces[0].vendeur.id})}"
    class="btn btn-info me-2"
  >
    Send Message
  </a>
</div>
